<a href="https://colab.research.google.com/github/guanyuq03/card-and-krueger-did-replication/blob/main/notebooks/01_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
url = "https://raw.githubusercontent.com/guanyuq03/card-and-krueger-did-replication/main/data/raw/public.dat"
df_raw = pd.read_fwf(url)
df_raw.head()

    46  1  0  0.1  0.2  0.3  0.4  ...  6.50.1  16.50.1  1.03.2   ..3  0.94  4 4.1
0   49  2  0    0    0    0    0  ...   10.00    13.00    1.01  0.89  2.35  4   4
1  506  2  1    0    0    0    0  ...   11.00    11.00    0.95  0.74  2.33  4   3
2   56  4  1    0    0    0    0  ...   10.00    12.00    0.92  0.79  0.87  2   2
3   61  4  1    0    0    0    0  ...   10.00    12.00    1.01  0.84  0.95  2   2
4   62  4  1    0    0    0    0  ...   10.00    12.00       .  0.84  1.79  3   3

[5 rows x 46 columns]